/* * {
    padding: 0;
    margin: 0;
    display: block;
} */

img{
    max-height: 300px;
    max-width: 300px;
    margin: 10px auto;
    border: 1vh solid #000;
    border-radius: 250px;
    object-fit: cover;

}

button#sub{
    position: absolute;
    bottom:0px;
    right: 20px;
}

.text-col {
    font-size: 1em;
    color: #F7F7F7;
    font-family: monospace;

}

div.bgp{
    background: url('../img/bg-p.jpg');
    width: 60vh;
    height: 45vh;
    border: 2px solid #fff;
}

.form-control.boxes {
    font-weight: bold;
    font-size: 1em;
    color: #ffee00;
    background-color: #92979c;
    opacity: 0.65;
    border: 2px solid #000;
    border-radius: 10px;
}



.jumbotron{
    border-radius: 10px;
    background-color:#000 !important;
}

/* .hb{
    opacity: 0.8;
    
} */


div #emailHelp{
    color:darkcyan !important;
}

h2 {
    color:cyan;
    background-color: rgba(0, 0, 0, 0.6);
    /* opacity: 0.8; */
    font-size: 1.6rem;
    margin: 10px auto;
    width:fit-content;
    padding: 15px;
    border: 2px solid cyan;
    border-radius: 200px;
    font-family: monospace;  
    font-weight: bold;
}

.avatar {
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: #000;
    box-sizing: border-box;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;

}

#mua {
    font-family: monospace;
    color: rgb(237, 255, 37);
    opacity: 0.9;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    border: 0px;
}

#na {
    color: #ddff00;
    opacity: 0.9;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
    border: 3px solid rgb(63, 60, 60);
    border-radius: 100px;
}

textarea#exp{
    width:100%;
}

.col{
    
    padding: 10px 10px;
}



.bgp{
    position: relative;
    color:aliceblue ;
}

form input[type='file']{
    display: none;
    cursor: pointer;
}

