
.avatar{
border-radius: 20px;
border: 2px solid #fff;
background-color: #000 !important;
box-sizing: border-box;
box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
transform: translatey(0px);
animation: float 6s ease-in-out infinite;

}

@media only screen and (max-width:600px){
.row{
  display: flex;
}
.col{
  max-width: 50% !important;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
}
#im{
  height: 100px !important;
}
}


a h2{
color:cyan;
background-color: rgba(0, 0, 0, 0.6);
/* opacity: 0.8; */
font-size: 1.6rem;
margin: 10px auto;
width:fit-content;
padding: 15px;
border: 2px solid cyan;
border-radius: 200px;
font-family: monospace;  
font-weight: bold;
}


.hb{
  background-color: #000 !important;
}